body {
  opacity: 0;
  animation: bodyFade 1.5s ease forwards;
}

@keyframes bodyFade {
  to {
    opacity: 1;
  }
}

.container {
  animation: containerFade 1.5s ease 0.3s forwards;
  opacity: 0;
  transform: translateY(20px);
}

@keyframes containerFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.profile-img, .fade-title, .links a {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
}

.profile-img {
  animation-delay: 0.5s;
}

.fade-title {
  animation-delay: 0.8s;
}

.links a:nth-child(1) {
  animation-delay: 1.1s;
}
.links a:nth-child(2) {
  animation-delay: 1.3s;
}
.links a:nth-child(3) {
  animation-delay: 1.5s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}